// colors
$blue-background: #131471;
$blue-primary: #0089e5;;
$blue-dark: #16253f;
$blue-text: #445065;
$white-text: #ffffff;
$gray-color: #dcdee3;
$gray-color-1: #cccccc;
$error-background: #fce6e2;

// text-sizes
$text-largest: 32px;
$text-large: 26px;
$text-medium: 16px;
$text-normal: 14px;
$text-small: 12px;

//spacing
$space-xxs: 4px;
$space-xs: 8px;
$space-s: 12px;
$space-xx-s: 20px;
$space-x-s: 30px;
$space-x-md: 40px;
$space-md: 80px;
